@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(3deg);
  }
  65% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(0deg);
  }
}

.wiggle {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}

.wiggle:hover {
  animation: none;
}

.image-container {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.random-image {
  position: absolute;
  width: 14%;
  height: 200px;
}
